{% if alert is defined %}
    {{ include('templates/alerts.html.twig') }}
{% endif %}

<div id="adder-post-{{ post.id }}" class="add-comment">
	{{ include('Form/LEFPost/comment.html.twig') }}
</div>

{% if comment is defined %}
	<div id="new-comment">
		{{ include('LEFPostBundle/templates/comment.html.twig') }}
	</div>
{% endif %}