{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="form-row">
    	<div class="col-auto offset-sm-2">
   			<button class="btn btn-success" type="submit" id="_submit" name="_submit">{{ 'change_password.submit'|trans }}</button>
   		</div>
    </div>
{{ form_end(form) }}
