{# app/Resources/views/LEFGroupBundle/Default/ajax/editPost.html.twig #}

<div class="edit-form-container" data-target="group-post-{{ post.id }}">
	{{ include('Form/LEFGroup/edit_group_post.html.twig') }}
</div>