{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group row">
    	<label for="username" class="col-sm-2 col-form-label">{{ 'resetting.request.username'|trans }}</label>
    	<div class="col-sm-10">
    		 <input type="text" class="form-control" id="username" name="username" required="required" />
    	</div>
    </div>
    <div class="form-row">
    	<div class="col-auto offset-sm-2">
   			<button class="btn btn-success" type="submit" id="_submit" name="_submit">{{ 'resetting.request.submit'|trans }}</button>
   		</div>
    </div>
</form>
