{% extends "@FOSUser/layout.html.twig" %}
{% block meta_content %}{{ 'title.lefuser.request'|trans }}{% endblock %}
{% block title %}{{ 'title.lefuser.request'|trans }} - {{ parent() }}{% endblock %}

{% block nav_header %}
<h2 class="text-center text-light py-2" id="navHeader">{{ 'lefuser.request.header'|trans }}</h2>
{% endblock nav_header %}
{% block fos_user_content %}
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock fos_user_content %}
